*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.nav{
    width: 1100px;
    margin: auto;
    position: relative;

}

.logo a{
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #F5E9CF;
}

.menu{
    float: right;
}

/*Navigasi*/
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background-color: #7DB9B6;
    z-index: 1;
    border-bottom: 1px solid #F5E9CF;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: #E96479;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

/*
dibuat displaynya flex supaya bentuk nya kolom gitu
*/
section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.coloumn{
    margin-top: 50px;
    margin-bottom: 50px;
}

.coloumn .desc {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans-ms';
    color: #3F979B;
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color:  #3F979B;
    width: 100%;
    line-height: 50px;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

a.tbl-1{
    background: #7DB9B6;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #E96479;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-1:hover{
    background: #F5E9CF;
    text-decoration: none;
}

a.tbl-2{
    background: #E96479;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #7DB9B6;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-2:hover{
    background: #F5E9CF;
    text-decoration: none;
}

.center {
    text-align: center;
    width: 100%;

}

.productlist{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.productcard{
    width: 20%;
    margin: 0 auto;
}

.productcard img{
    width: 115%;
    height: 60%;
    border-radius: 2%;
}

.productcard p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #3F979B;
}

#Contact{
    background: #7DB9B6;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #3F979B;
    width: 100%;
    line-height: 50px;
}

#copyright{
    text-align: center;
    width: 100%;
    padding:  10px 0px 10px 0px;
}